@using RunGroupWebApp.Data.Enum;
@using RunGroupWebApp.Repository;
@using RunGroupWebApp.ViewModel;
@model CreateRaceViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="AspUserId" name="AppUserId" asp-for="AppUserId" />

            <div class="form-group"> 
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*this is for image address link*@
            @*<div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="RaceCategory" class="control-label"></label>
                <select asp-for="RaceCategory"asp-items="@Html.GetEnumSelectList<RaceCategory>()" 
                class="form-control" >
                <option>--select--</option></select>
                <span asp-validation-for="RaceCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.street" class="control-label"></label>
                <input asp-for="Address.street" class="form-control" />
                <span asp-validation-for="Address.street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.city" class="control-label"></label>
                <input asp-for="Address.city" class="form-control" />
                <span asp-validation-for="Address.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.state" class="control-label"></label>
                <input asp-for="Address.state" class="form-control" />
                <span asp-validation-for="Address.state" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image"type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
